*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background-color: rgb(59, 59, 59);
}

button{
    border: none;
    cursor: pointer;
}

/*start screen properties*/
.start-screen{
    height: 100%;
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.header{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.8em;
    border-bottom: 0.5px solid rgb(200, 200, 200);
}

/*view high scores button styling*/
#view-high-scores {
    margin: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 72);
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}

/*timer styling*/
.timer{
    background-color: rgb(213, 213, 213);
    display: flex;
    border-radius: 30px;
    padding: 8px;
    margin: 5px;
}

/*coding quiz title on start screen styling*/
.quiz-title{
    background: -webkit-linear-gradient(rgb(115, 194, 255), rgb(0, 103, 237));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px;
    font-size: 48px;
    padding: 15px;
    border-radius: 20px;
    border-width: 1px;
    border: solid rgb(153, 153, 153);
}


.paragraph{
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}


#start-button{
    font-size: 1.3em;
    margin: 20px;
    padding: 0.5em 1.8em;
    border-radius: 50px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
}

/*this sets styling properties for the question pages*/
.question-screen{
    height: 100%;
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*questions styiling properties*/
.questions{
    color: white;
    margin: 20px;
    font-size: 35px;
    padding: 15px;
}  

/*answer options styling properties*/
.questionBtn{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 72);
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    border: none;
    margin: 5px
}

.questionBtnOne{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 72);
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    border: none;
    margin: 15px
}

/*setting initial display to none then later accessing question through java*/
#question-two{
    display: none;
}

#question-three{
    display: none;
}

#question-four{
    display: none;
}

#question-five{
    display: none;
}

#hide{
    display: none ;
}

/*end of quiz page styling properties*/
.end-quiz{
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*end of quiz title styling properties*/
.all-done{
    background: -webkit-linear-gradient(rgb(255, 211, 117), rgb(255, 174, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px;
    font-size: 50px;
}

.your-final-score{
    color: white;
    margin: 5px;
}

.please-enter-name{
    color: white;
    margin: 5px;
}

#name{
    border-radius: 3px;
    border: none;
}

/*submit button styling*/
#submit{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 72);
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    margin:10px
}

/*highscores page styling properties*/
.scores{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 250px;
}

/*highscores page title styling properties*/
.high-scores-title{
    background: -webkit-linear-gradient(rgb(255, 115, 145), rgb(255, 0, 89));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px;
    font-size: 48px;
    padding: 15px;
}

/*restart button styling*/
#restart{
    margin: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 72);
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}

/*clear button styling*/
#clear{
    margin: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 103, 237);
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}


